.all {
    background-color: red;
    height: 100%;
    color: #eee;
}

.first {
    margin-top: 50px;
}

.newMovie {
    margin: 0 10px;
}

textarea {
    margin-top: 15px;
}

#movieFormContainer {
    margin-top: 5px;
    padding: 10px;
    background-color: #222222;
    border-radius: 10px;
}

#submit {
    background-color: white;
}

input {
    color: black;
}

textarea {
    color: black;
}

#movies {
    list-style: none;
    padding: 0;
}

h1 {
    font-weight: bold;
    text-decoration: underline;
}

#main {
    background-color: white;
    color: black;
    padding: 0;
}

.flex {
    display: flex;
    justify-content: space-between;
}