* {
	margin: 0;
	padding: 0;
	color: #fff;
	background-color: #333;
	text-align: center;
}

h1 {
	margin: 50px 0 50px;
	font-size: 50px;
}

li {
	margin-bottom: 20px;
}

h2 {
	font-size: 30px;
}

p {
	color: #aaa;
}

button {
	margin: 10px 0 30px;
	font-size: 20px;
}